export API_ADDR=9000
export API_MAX_HEADER_BYTES="1048576"
export API_READ_TIMEOUT="15s"
export API_WRITE_TIMEOUT="20s"

export ROUTER_MAX_REQUESTS_PER_MINUTE="10"

export DB_CONNECTION_STRING="admin:12345@tcp(localhost:3307)/ecommerce?parseTime=true"
export DB_MAX_OPEN_CONNS="10"
export DB_MAX_IDLE_CONNS="5"
export DB_MAX_IDLE_TIME="15m"

export JWT_KEY="jAMpmhad2vjwtyx951CptwFsQ5vYeYOw6hCzgL0gXpsJe49BrOfYT2IfCe4MgtSy"